* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --text-color: #fff;
    --main-color: #0ef;
    --bg-color-primary: #1f242d;
    --bg-color-secondary: #323946;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--bg-color-primary);
    scroll-snap-type: y mandatory;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 10rem 9% 0;
    scroll-snap-align: start;
}

section:nth-child(odd){
    background-color: var(--bg-color-secondary);
}

section:nth-child(even){
    background-color: var(--bg-color-primary);
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--text-color);
}

ion-icon {
    font-size: 1.3rem;
}

span {
    color: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 0 9%;
    background-color: var(--bg-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

/* Navigation Bar */

#name-logo {
    color: var(--text-color);
    font-size: 1.2rem;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 2rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/* Home Page */

.home .container {
    display: flex;
    flex-direction: column;
}

.home-content-wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content-box {
    width: 80%;
    color: var(--text-color);
}

.home-content-box h3 {
    font-size: 2rem;
    font-weight: 700;
}

.home-content-box h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content-box h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 5px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-secondary);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--bg-color-secondary);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.home-img-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.home-img-box img {
    width: 650px;
    width: 1300px;
}

/* About Me Page */
.about {
    display: flex;
    align-items: center;
}
.about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    background-color: var(--bg-color-secondary);
}

.about-img {
    width: 400px;
}

.about-img img {
    width: 600px;
    position: relative;
    left: -100px;
}

.about-img img::after {
    content: "";
    height: 600px;
    background-color: red;
    width: 600px;
    position: absolute;
    display: inline-block;
    top: 100%;
}

.about-content-box h2 {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
}

.about-content-box h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
}

.about-content-box p {
    margin-top: 30px;
}